.form-container{
    display: flex;
    justify-content:center ;
}
body{
    background-color: #a9d7f6;
}
.form{
    font-size: 20px;
    background-color: #8fb1e9;
    padding: 20px;
    border-radius: 15px;
}
.form{
    margin-top: 30px;
}
@media only screen and (max-width:455px){
    .container{
      flex-direction: column;
    }
  }